.idea/*
.vscode/*
.DS_Store
dist/images/test-server
dist/images/kube-ovn-cmd
dist/images/kube-ovn-webhook
dist/windows/kube-ovn.exe
dist/windows/kube-ovn-daemon.exe
ovnnb_db.*.backup
ovnsb_db.*.backup
**/kubectl-ko-log/*
kube-ovn.yaml
kube-ovn-crd.yaml
ovn.yaml
ovn-ic-0.yaml
ovn-ic-1.yaml
kind.yaml
broker-info.subm
broker-info.subm.*
broker-info-internal.subm
kube-ovn.tar
vpc-nat-gateway.tar
image-amd64.tar
image-arm64.tar
test/**/*.test
