.idea/*
.vscode/*
.DS_Store
dist/images/test-server
dist/images/kube-ovn
dist/images/kube-ovn-cmd
dist/images/kube-ovn-webhook
dist/windows/kube-ovn.exe
dist/windows/kube-ovn-daemon.exe
ovnnb_db.*.backup
ovnsb_db.*.backup
**/kubectl-ko-log/*
kube-ovn.yaml
kube-ovn-crd.yaml
ovn.yaml
ovn-ic-controller.yaml
ovn-ic-server.yaml
ovn-ic-0.yaml
ovn-ic-1.yaml
kind.yaml
kustomization.yaml
kwok-node.yaml
metallb-cr.yaml
broker-info.subm
broker-info.subm.*
broker-info-internal.subm
yamls/clab-bgp.yaml
yamls/clab-bgp-ha.yaml
kube-ovn.tar
kube-ovn-dpdk.tar
vpc-nat-gateway.tar
image-amd64.tar
image-amd64-dpdk.tar
image-arm64.tar
test/**/*.test
kube-ovn-app-sa.yaml
kube-ovn-cni-sa.yaml
kube-ovn-sa.yaml
ovn-ovs-sa.yaml
ovs-ovn-ds.yaml
cacert.pem
ovn-req.pem
ovn-cert.pem
ovn-privkey.pem
