.idea/*
.DS_Store
vagrant/.vagrant/*
vagrant/kubernetes-setup/*.retry
vagrant/kubernetes-setup/join-command
dist/images/kube-ovn
dist/images/kube-ovn-controller
dist/images/kube-ovn-daemon
dist/images/kube-ovn-gateway
dist/images/kube-ovn-webhook
dist/images/kube-ovn-pinger
