{%- if ip_family is not defined -%}
  {%- set ip_family = "ipv4" -%}
{%- endif -%}
apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local
podSubnets:
  {%- if ip_family is equalto "ipv4" or ip_family is equalto "dual" %}
  - 10.16.0.0/16
  {%- endif %}
  {%- if ip_family is equalto "ipv6" or ip_family is equalto "dual" %}
  - fd00:10:16::/112
  {%- endif %}
serviceSubnets:
  {%- if ip_family is equalto "ipv4" or ip_family is equalto "dual" %}
  - 10.96.0.0/12
  {%- endif %}
  {%- if ip_family is equalto "ipv6" or ip_family is equalto "dual" %}
  - fd00:10:96::/108
  {%- endif %}
{%- if ip_family is equalto "ipv4" %}
nodeCIDRMaskSizeIPv4: 24
{%- elif ip_family is equalto "ipv6" %}
nodeCIDRMaskSizeIPv6: 120
{%- else %}
nodeCIDRMaskSizeIPv4: 24
nodeCIDRMaskSizeIPv6: 120
{%- endif %}
---
apiVersion: v1alpha1
kind: KubeFlannelCNIConfig
$patch: delete
---
apiVersion: v1alpha1
kind: KubeNodeConfig
taints: null
