kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  kubeProxyMode: {{ kube_proxy_mode }}
  disableDefaultCNI: true
  ipFamily: {{ ip_family }}

nodes:
  - role: control-plane
    image: kindest/node:v1.19.1
  {%- if ha is equalto "true" %}
  - role: control-plane
    image: kindest/node:v1.19.1
  - role: control-plane
    image: kindest/node:v1.19.1
  {%- else %}
  - role: worker
    image: kindest/node:v1.19.1
  {%- endif %}
