apiVersion: v1
kind: ConfigMap
metadata:
  name: ovn-ic-config
  namespace: kube-system
data:
  enable-ic: "true"
  az-name: "{{ zone }}"
  ic-db-host: "{{ ic_db_host }}"
  ic-nb-port: "6645"
  ic-sb-port: "6646"
  gw-nodes: "{{ gateway_node_name }}"
  auto-route: "true"
