name: Build dpdk Image
on: workflow_dispatch

jobs:
  build:
    name: Build DPDK
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2

      - name: Build
        run: |
          make build-dpdk

      - name: Push
        if: github.ref == github.event.repository.default_branch || startsWith(github.ref, 'release-')
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          COMMIT: ${{ github.sha }}
        run: |
          TAG=$(cat VERSION)
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          docker images
          docker tag kubeovn/kube-ovn-dpdk:19.11-$TAG kubeovn/kube-ovn-dpdk:19.11-$COMMIT
          docker push kubeovn/kube-ovn-dpdk:19.11-$TAG
          docker push kubeovn/kube-ovn-dpdk:19.11-$COMMIT
