name: Build dpdk Image
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - 'yamls/**'
  push:
    branches:
      - master
      - release-*
    paths-ignore:
      - 'docs/**'
      - 'yamls/**'

jobs:
  build:
    name: Build DPDK
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Docker Buildx
        uses: crazy-max/ghaction-docker-buildx@v1.4.0

      - name: Cache Docker layers
        uses: actions/cache@v2
        id: cache
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-dpdk-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-dpdk-buildx-

      - name: Build
        run: |
          make build-dpdk
      - name: Push
        if: ${{ github.ref == 'refs/heads/master' || contains(github.ref, 'release') }}
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          COMMIT: ${{ github.sha }}
        run: |
          TAG=$(cat VERSION)
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          docker images
          docker tag kubeovn/kube-ovn-dpdk:19.11-$TAG kubeovn/kube-ovn-dpdk:19.11-$COMMIT
          docker push kubeovn/kube-ovn-dpdk:19.11-$TAG
          docker push kubeovn/kube-ovn-dpdk:19.11-$COMMIT
